html {
    height:100%;
    display: flex;
    flex-flow: row nowrap;  
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: sans-serif;
    

  }
  
  body {
    max-width: 960px;
    margin: auto;
    padding: 5%;
    align-items: center;
    background-color: #ccffbd;


  }
  
 h1 {
     font-family: 'Montserrat';
     font-weight: 700;
     margin-bottom: 1rem;
 }

 p {
    font-family: 'Montserrat';
    font-weight: 400;
 }
 
hr {
  width: 15%;
}

 input {
    border-color: #40394a;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1%;
    padding: 0.5%;
  
  }
 .footer-padding {
	padding-bottom: 60px;
}

.footer {
  max-width: 960px;
  align-items: center;
  text-align: center;
	bottom: 0;
	width: 100%;
}